<nav class="toolbar">
  <div class="toolbar-container">
    <a routerLink="/" class="toolbar-logo"><img src="assets/images/devotion4.png" alt="Devotion Logo" class="logo-image"> </a>

    <div class="toolbar-menu-desktop">
      <a routerLink="/cancion" routerLinkActive="active-link">Canciones</a>
      <a routerLink="/devocionales" routerLinkActive="active-link">Devocionales</a>
    </div>

    <button class="toolbar-menu-mobile-btn" (click)="toggleMenu()">
      <lucide-icon [name]="isMenuOpen ? 'x' : 'menu'"></lucide-icon>
    </button>
  </div>

  <div class="toolbar-menu-mobile" [class.open]="isMenuOpen">
    <a routerLink="/cancion" routerLinkActive="active-link" (click)="toggleMenu()">Canciones</a>
    <a routerLink="/devocionales" routerLinkActive="active-link" (click)="toggleMenu()">Devocionales</a>
  </div>
</nav>
